.body {
  min-height: 90vh;
}

.title {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 5px 0;
}

.container {
  margin-top: 15vh;
}

h2 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 5px 0;
}

table {
  margin: auto;
  text-align: center;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  line-height: 30px;
}

th {
  text-align: center;
}

thead {
  th {
    background-color: #6495ed;
  }
}

tbody {
  tr {
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  td {
    position: relative;
    &:hover {
      &:before {
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
      }
    }
  }
}

.column-players {
  background-color: #384e5f !important;
}

.players-rows,
.total-rows {
  color: white;
  background-color: rgb(92, 209, 163, 0.8) !important;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  .first-button {
    padding: 0px 100px;
  }
}

.delete-players {
  background-color: coral !important;
}

.delete-pl {
  margin-top: 8px;
  cursor: pointer;
}

.delete-col {
  display: block;
  cursor: pointer;
  margin-top: 8px;
}

.delete-rows {
  background-color: #dc143c;
}

.new-player {
  cursor: pointer;
  td:first-child,
  td:last-child {
    font-weight: bold;
    background-color: #384e5f;
  }
  .random {
    background-color: #6495ed;
  }
  &:hover {
    color: white;
  }
}

.mat-input {
  width: 70px;
  text-align: center;
  margin: auto;
}

.isShown {
  display: block;
}

.modal {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  animation-name: animatetop;
  animation-duration: 1s;
  .content {
    background-color: white;
    margin: 10% 35%;
    height: 300px;
    display: flex;
    padding: 35px;
    flex-direction: column;
    border: 2px outset black;
    h2 {
      color: black;
    }
    .field {
      margin: 10px 0px;
    }
    .first-button {
      margin: 5px 0px;
    }
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.delete-table {
  cursor: pointer;
  background-color: red !important;
  border: 2px solid red;
  td {
    padding: 1px !important;
  }

  .material-icons {
    margin-top: 10px;
  }
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 270px;
  width: 33vw;
  margin: 75px 0px;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: black;
  border: 4px solid #000;
  box-shadow: 0px 0px 0px 1px #000 inset;
  background-color: #7fffd4;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid #666;
  background-color: #fff;
  box-shadow: 0px 0px 0px 4px #eee inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span {
  letter-spacing: 0.13em;
  color: #333;
}

/*highlight*/
.effect01:after {
  background: #fff;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); /*easeOutCirc*/
  z-index: 1;
}
.effect01:hover:after {
  background: #fff;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
